<div class="modal-header">
    <h4>Add Category</h4>
</div>
<div class="modal-body">
    <div class="form">

        <div class="col-md-10">

            <div class="form-group">
                <label for="">Title</label>
                <input [(ngModel)]="title" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea rows="5" [(ngModel)]="description" type="text" class="form-control"></textarea>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button (click)="onSave()" class="btn btn-success" style="margin-right: 20px;">Add</button>
        <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
    </div>


</div>