<div class="container">
    <h1 class="title">Sign Up</h1>
    <div class="form">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group" style="margin-top: 20px">
                    <label for="">First Name</label>
                    <input [(ngModel)]="firstName" type="text" class="form-control">
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <label for="">Last Name</label>
                    <input [(ngModel)]="lastName" type="text" class="form-control">
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <label for="">Phone</label>
                    <input [(ngModel)]="phone" type="tel" class="form-control">
                </div>

                <div class="form-group" style="margin-top: 20px">
                    <label for="">Email</label>
                    <input [(ngModel)]="email" type="text" class="form-control">
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <label for="">Password</label>
                    <input [(ngModel)]="password" type="password" class="form-control">
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <button (click)="onSignUp()" class="btn btn-success">SignUp</button>
                    <a routerLink="/auth/signin" class="btn btn-warning" style="margin-left: 20px">SignIn</a>
                </div>

            </div>
            <div class="col-md-4"></div>
        </div>

    </div>

</div>