<h2>Second Component</h2>
<div style="color: red;">value = {{value}}</div>
<div style="color: red;">color = {{color}}</div>

<hr>
<div [style.color]='value'>value = {{value}}</div>
<div [style.color]='color'>color = {{color}}</div>