<div class="container">
    <h2>Sixth Component</h2>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin: 40px;">
            <div class="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Full Name</label>
                            <input [(ngModel)]="fullName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Address</label>
                            <textarea [(ngModel)]="address" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Phone Number</label>
                            <input [(ngModel)]="phoneNumber" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input [(ngModel)]="email" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Age</label>
                            <input [(ngModel)]="age" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 40px;">
                    <button (click)="onSave()" class=" btn btn-success">Save</button>
                    <button (click)="onCancel()" class=" btn btn-danger" style="margin-left: 10px;">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>