<div class="container">
    <h2>Third Component</h2>
    <button (click)="onButtonClick()" class="btn btn-success">Click Me</button>
    <hr>
    <button (click)="onChangeColor('red')" class="btn" style="color: black;background-color: red; ">
        Red
    </button>
    <button (click)="onChangeColor('green')" class="btn" style="color: black;background-color: green; ">
        Green
    </button>
    <button (click)="onChangeColor('yellow')" class="btn" style="color: black;background-color: yellow; ">
        Yellow
    </button>
    <button (click)="onChangeColor('black')" class="btn" style="color: white;background-color: black; ">
        Black
    </button>
    <button (click)="onChangeColor('brown')" class="btn" style="color: black;background-color: brown; ">
        Brown
    </button>
    <div [style.background-color]="backgroundColor" class="box"></div>
    <hr>
   
</div>