h2 {
  text-align: center;
}

.box {
  margin: 20px;
  width: 300px;
  height: 300px;
  border: black 2px solid;
  background-color: burlywood;
  box-sizing: border-box;
}
button {
  margin-right: 10px;
}
