<h2>First Component</h2>
<div>Person Name : {{firstName}}</div>
<div>Person Address : {{address}}</div>
<div>Person Phone : {{phone}}</div>
<hr>

<h4>Product Details</h4>
<div>Product's title : {{product.title}}</div>
<div>Product's description : {{product.description}}</div>
<div>Product's price : {{product.price}}</div>