<h1 class="title">Products</h1>

<button (click)="onAdd()" style="margin-bottom: 20px;" class="btn btn-success">Add</button>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Title</td>
            <td>Description</td>
            <td>Price</td>
            <td>Category</td>
            <td>Image</td>
            <td>Actions</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products; let index = index">
            <td>{{index +1 }}</td>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category.title}}</td>
            <td>

                <img class="img-preview" src="http://localhost:4000/products/image/{{ product.img }}" />
            <td>
                <button (click)="OnDelete(product)" class="btn btn-danger btn-sm">Delete</button>
                <button style="margin-left:20px ;" (click)="OnUploadImage(product)"
                    class="btn btn-success btn-sm">Upload Image</button>
            </td>
        </tr>

    </tbody>
</table>