<div class="container">
    <h2>Second Component</h2>

    <div>
        {{products[0].title}}
    </div>

    <div>
        {{products[0].description}}
    </div>
    <div>
        {{products[0].price}}
    </div>
    <hr>

    <div class="product" *ngFor="let product of products">
        <div> {{product.title}}</div>
        <div> {{product.description}}</div>
        <div> {{product.price}}</div>
    </div>
    <hr>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor='let product of products'>
                <th scope="row">{{product.id}}</th>
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
</div>