.product {
  border: solid black 3px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  display: inline-block;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px 4px #961fff;
  box-shadow: 0 1px 10px 4px #961fff;
  background-color: blanchedalmond;
}

h2 {
  text-align: center;
}
