<h1 class="title">Categories</h1>

<button (click) = "onAdd()" style="margin-bottom: 20px;" class="btn btn-success">Add</button>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Title</td>
            <td>Description</td>
            <td>Actions</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let category of categories; let index = index">
            <td>{{index +1 }}</td>
            <td>{{category.title}}</td>
            <td>{{category.description}}</td>
            <td>
                <button (click) = "OnDelete(category)"  class="btn btn-danger btn-sm">-</button>
            </td>
        </tr>

    </tbody>
</table>