<div class="container">
    <h1 class="title">Sign In</h1>
    <div class="form">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Email</label>
                    <input [(ngModel)]="email"  type="text" class="form-control">
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <label for="">Password</label>
                    <input [(ngModel)]="password"  type="password" class="form-control">
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <button (click)="onSignIn()" class="btn btn-success">SignIn</button>
                    <a routerLink="/auth/signup" class="btn btn-warning" style="margin-left: 20px">SignUp</a>
                </div>

            </div>
            <div class="col-md-4"></div>
        </div>

    </div>

</div>