<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink = "/home">MyStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink = "category/list">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink = "product/list">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink = "user/list">users</a>
                </li>
            </ul>
            <div class="d-flex">
                <button (click) = "onLogout()" class="btn btn-outline-success">Logout</button>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 50px;">
    <router-outlet></router-outlet>
</div>
