<h2>
    Product List
</h2>

<table class="table table-striped table-bordered">

    <thead>
        <tr>
            <th>Sr. No.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let index = index">
            <td>{{index + 1 }}</td>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
        </tr>
    </tbody>
</table>