<div class="card" style="margin: 15px;">
    <div style="cursor: pointer;" (click) = "onToggle()" class="card-header">
        {{question}}
    </div>
    <div *ngIf="isExpaned" class="card-body">
        {{answer}}
    </div>
</div>