<div class="container">
    <h2>Fourth Component</h2>

    <div class="row" style="margin: 40px;">
        <div class="col-md-3">
            <ul class="list-group">
                <!--  [class.active] = "faq.id == selectedFaq.id" is example of Class binding-->
                <!-- Add class based on some conditions-->
                <!-- We can add own class as well like isActive-->
                <li 
                [class.active] = "faq.id == selectedFaq.id"
                [class.isActive] = "faq.id != selectedFaq.id"
                style="cursor: pointer;" (click)="onSelectFaq(faq)" class="list-group-item"
                    *ngFor="let faq of faqs">
                    {{faq.question}} 
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="question"><strong>Question: {{selectedFaq.question}}</strong> </div>
            <div class="answer">Answer : {{selectedFaq.question}}</div>
        </div>
    </div>
</div>